# Borough Socioeconomic Structure

In [1]:
import pandas as pd
import scipy as sp
import matplotlib.pyplot as plt

In [3]:
earningdf = pd.read_csv('data/london_earnings_by_borough.csv')
incomedf = pd.read_csv('data/london_taxpayer_income.csv')
print(earningdf['area_code'].nunique())
# print(earningdf.describe())
boroughpaydf = earningdf.groupby('area').mean()['pay'].sort_values()
boroughmeanincomedf = incomedf.groupby('area').mean()['mean_income'].sort_values()
boroughmedianincomedf = incomedf.groupby('area').mean()['median_income'].sort_values()
# print(boroughpaydf)
print(boroughmeanincomedf)
print(boroughmedianincomedf)
# boroughpaydf.plot.bar()
# sortedboroughpay = boroughpaydf.sort_values()
# print(sortedboroughpay)
# sortedboroughpay.plot.bar()
# plt.bar(earningdf.groupby('area').mean()['pay'])

47
area
Newham                       21550.000000
Barking and Dagenham         21938.888889
Wales                        22027.777778
North East                   22311.111111
Northern Ireland             22572.222222
Yorkshire and The Humber     23211.111111
North West                   23650.000000
West Midlands                23722.222222
East Midlands                23983.333333
Waltham Forest               24177.777778
South West                   24427.777778
Scotland                     24672.222222
Bexley                       26205.555556
Brent                        26294.444444
United Kingdom               26844.444444
Lewisham                     27366.666667
England                      27427.777778
Havering                     27616.666667
Croydon                      28127.777778
Hillingdon                   28138.888889
East of England              28338.888889
Enfield                      28450.000000
Redbridge                    28938.888889
Sutton                       28983.333333
Hackney                      29172.222222
Greenwich                    29361.111111
Hounslow                     30222.222222
Ealing                       30383.333333
South East                   30805.555556
Harrow                       31494.444444
Haringey                     32722.222222
Lambeth                      33233.333333
Southwark                    33827.777778
Bromley                      34555.555556
Tower Hamlets                35572.222222
Kingston-upon-Thames         36311.111111
London                       36655.555556
Barnet                       38722.222222
Merton                       40000.000000
Islington                    44866.666667
Wandsworth                   48855.555556
Hammersmith and Fulham       50038.888889
Richmond-upon-Thames         53316.666667
Camden                       63727.777778
Westminster                  80794.444444
City of London              119200.000000
Kensington and Chelsea      124833.333333
Name: mean_income, dtype: float64
area
Wales                       17466.666667
Newham                      17527.777778
North East                  17555.555556
Northern Ireland            17572.222222
Yorkshire and The Humber    17744.444444
North West                  17900.000000
West Midlands               18094.444444
East Midlands               18133.333333
South West                  18372.222222
Scotland                    18705.555556
United Kingdom              19005.555556
Barking and Dagenham        19033.333333
England                     19216.666667
Brent                       19427.777778
Waltham Forest              19533.333333
East of England             19966.666667
Enfield                     20838.888889
Greenwich                   20855.555556
South East                  20900.000000
Hounslow                    20900.000000
Haringey                    21072.222222
Ealing                      21083.333333
Bexley                      21177.777778
Lewisham                    21255.555556
Havering                    21438.888889
Hackney                     21561.111111
Croydon                     21644.444444
Hillingdon                  21766.666667
Redbridge                   21822.222222
Southwark                   22183.333333
Sutton                      22216.666667
Harrow                      22366.666667
London                      22416.666667
Tower Hamlets               22733.333333
Lambeth                     22905.555556
Barnet                      23194.444444
Merton                      23561.111111
Bromley                     24350.000000
Kingston-upon-Thames        24550.000000
Islington                   25266.666667
Hammersmith and Fulham      25416.666667
Wandsworth                  27244.444444
Camden                      27516.666667
Richmond-upon-Thames        29155.555556
Westminster                 29494.444444
Kensington and Chelsea      31238.888889
City of London              53216.666667
Name: median_income, dtype: float64

In [5]:
saledf = pd.read_csv('data/london_tickets_for_sale.csv',encoding= 'unicode_escape')
print(saledf.head())

     date         time gender                      session medal_ceremony  \
0  03-Aug  10:0013:45      M        400m Hurdles: round 1            NaN
1  03-Aug  10:0013:45      M  3000m Steeplechase: round 1            NaN
2  03-Aug  10:0013:45      M           Hammer: qualifying            NaN
3  03-Aug  10:0013:45      M         Shot Put: qualifying            NaN
4  03-Aug  10:0013:45      W   100m: classification heats            NaN

    code AA    A   B   C   D   E  limit                           venue  \
0  AT001    150  95  65  40  20   20.0  Olympic Park - Olympic Stadium
1  AT001    150  95  65  40  20   20.0  Olympic Park - Olympic Stadium
2  AT001    150  95  65  40  20   20.0  Olympic Park - Olympic Stadium
3  AT001    150  95  65  40  20   20.0  Olympic Park - Olympic Stadium
4  AT001    150  95  65  40  20   20.0  Olympic Park - Olympic Stadium

       event
0  Athletics
1  Athletics
2  Athletics
3  Athletics
4  Athletics